h1 {  color: red;
  background-color:yellow;
  padding-left: 1px;
  margin-left: 5px;
  width: 200px;}
  body  { background-color: yellow;
    padding: 50px;
    margin: 25px;
    width: 200px;}
h2{color: red;}
p{ color: red;}
<a href=http://www.swedishfish.com/</a>
